@import 'variables';
@import 'mixin';

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
    margin-bottom:220px;
}

p {
    color: map-get($colors, clr-para);
    font-size: map-get($text, para-fs);
    line-height: map-get($text, para-lineheight);
    margin: 0;
}
.btn_main {
    color: map-get($colors, clr-primary);
    font-size:0.875rem;
    font-family: 'Roboto', sans-serif;
    padding: 0.8rem 3rem;
    background: white;
    box-shadow: map-get($others, btn-boxshadow);
}
.main_pad {
    padding: 0 0 3.75rem 0;
}
header {
    min-height: 127px;
    padding-top: 3.1rem;

    h3 {
        color: map-get($colors, clr-primary);

        span {
            color: map-get($colors, clr-heading1);
            font-size: 0.875rem;
            padding-left: 0.5rem;
        }
    }

    li {
        border: map-get($others, gn-border);
        border-right: 0;

        &:last-child {
            border-right: 1px solid map-get($others, gn-clr-border);
        }
        &:hover, &.active {
            background:#eaf4f5;
        }
    }

    ul.navbar-nav li.nav-item a.nav-link {
        display:block;
        font-size:0.8rem;
        text-transform:map-get($text, text-uppercase);
        padding: 0.9rem 1.3rem;
        color: map-get($colors, clr-heading1);
    }
}


// banner

#main-banner {
    background: #fcfbfb;
    height: 468px;
    position: relative;
    overflow:hidden;

    img {
        clip-path: polygon(0 0%, 38% 0%, 60% 100%, 0 100%);
        height: 468px;
        object-fit: cover;
    }

    .banner-content {
        position: absolute;
        top:25px;
        left: 60%;
        z-index:999;
        padding-right:35px;
    }

    h1 {
        font-size:2.25rem;
        color: map-get($colors, clr-heading1);
        padding-bottom: 1.7rem;
        font-weight: 400;
    }

    p {
        color: map-get($colors, clr-para);
        font-size:0.875rem;
        line-height: 1.875rem;
        margin-bottom: 2rem;
    }
}


// author

.author-area {
    

    .note {
        color: #999;
        font-size: map-get($text, para-fs);
    }
    .author-para {
        padding: 1.3rem 0 0;
    }
}

.author-wrapper {
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    padding: 1rem;

    img {
        @include size(100px, 100px);
        clip-path: circle(50%);
        margin-bottom:10px;
    }

    p {
        color: #999;

        span {
            color: map-get($colors, clr-heading1);
        }
    }
}

// latest projects

.latest-project-wrapper {
    

    .img_latestProject {
        background: url(../images/img-latestproject.jpg) no-repeat;
        @include size(100%, 360px);
        @include hv_center();

        .img_titlewrapper {
            background: rgba(0,0,0,0.5);
            @include hv_center();
            @include size(230px, 100%);

            h3 {
                font-family: "Rockwell";
                font-size: 1.8rem;
                font-weight:300;
                color: #9feb35;
            }
        }
    }

    h2 {
        margin-bottom:1.4rem
    }

    img {
        @include size(630px, 360px);
        object-fit:cover;
    }
    .lp-slogan {
        font-size: 1rem;
        color: map-get($colors, clr-para);
        margin-bottom: 3rem;
    }

    h5 {
        color: map-get($colors, clr-heading1);
        margin-bottom: 1.6rem;
    }
}

// features

.features-wrapper {
    

    .feature-item {
        border: map-get($others, gn-border);
        font-family: "Rockwell";
        position: relative;

        .icon-side {
            display:flex;
            @include hv_center();
            padding: 0 2.8rem;
            height: 295px;
            background:#f4f9fa;
        
            .icon_wrapper {
                //background: url(../images/icon-responsive.png) no-repeat center center;
                //@include size(100px, 100px);

                img {
                    margin-bottom:1rem;
                }

                h5 {
                    font-size: 1rem;
                    color: #000;
                    font-family: "Rockwell";
                }
            }

        }

        .content_side {
            padding: 1.5rem;

            P {
                color: map-get($colors, clr-para);
                line-height:1.375rem;
                font-size: 0.875rem;
                font-weight: 300;
                font-family: "Rockwell";
            }

            .btn_main {
                width: 200px;
                position: absolute;
                bottom: 0;
                right: 0;
            }
            .link_arrow {
                background: url(../images/link-arrow.png) no-repeat 0 0;
                @include size(15px, 10px);
                vertical-align: middle;
                margin-left:5px;
                display:inline-block
            }
        }
    }
    
}

// footer

footer {
    background: #6f7c7e;
    color: #b4d3d8;
    padding:1.5rem;
    font-size: 0.75rem;
    font-family:"Rockwell";


    width: 100%;
    // position:absolute;
    // bottom: 0;


    a.navbar-brand {
        font-family:"Roboto", sans-serif;
    }

    .author_name {
        background: #657274;
        @include size(213px, 89px);
        font-weight: 300;
        padding: 1.75rem;
        margin-right: 1rem;
    }

    h3 {
        span {
            font-size: 0.875rem;
            padding-left: 0.5rem;
        }
    }
    a.icon_round {
        @include size(53px, 53px);
        background:#576163;
        @include hv_center();
        margin-right:1rem;
        color:#42494b;
        text-decoration:none;

        &:hover {
            color:#22aed1;
        }
    }
    .copyright {
        font-family:"Roboto", sans-serif;
        font-size: 0.75rem;
        align-items: center;
        height: 60px;
        margin: 2rem 0 0;
        border-top:1px solid #677375
    }
    .connect h3 {
        font-size:4vh;
    }
}

/* sticky footer css start */


// .page-wrapper {
//     min-height: 100%;
//     margin-bottom: -220px;
// }
// .page-wrapper::after {
//     content: '';
//     display: block;
// }
// footer, .page-wrapper::after {
//     height: 220px;
// }
/* sticky footer css end */