$colors: (    
    clr-primary: #308f9f,
    //clr-secondary: #333131,
    clr-heading1: #333131,
    clr-para: #666666
);
$text: (
    para-lineheight: 1.5rem,
    para-fs: 0.81rem
);
$others: (
    btn-boxshadow: 0 0 20px rgba(0,0,0,0.1),
    gn-border: 1px solid #f5f5f5,
    gn-clr-border: #f5f5f5,
    text-uppercase: uppercase,
    main-pad: 0 0 3.75rem 0
);

